
  <div class="modal-content">
      <h2>{{dish.name | uppercase}}</h2>
    <div class="modal-body">
      <table class="tbl">
        <tr>
          <th class="column">Image</th>
          <th class="column">Cuisine</th>
          <th class="column">Meal</th>
          <th class="column">Ingredients</th>
          <th class="column">Limit</th>
          <th class="column">Price</th>
          <th class="column">Description</th>
          <th class="column">Grade</th>
        </tr>
        <tr class="dish-row">
                    <td> <img class="dish-img"  src="{{dish.imageUrl}}"></td>
          <td> {{dish.cuisine }}</td>
          <td>{{dish.meal.toString() | lowercase}}</td>
          <td>{{dish.ingredients}}</td>
          <td>{{dish.limit}}</td>
          <td>{{dish.price}} $</td>
          <td>{{dish.description}}</td>
          <td class="icons" id={{dish.id}}{{dish.id}} [ngStyle]="{display: dish.limit === 0 ? 'none' : 'flex'}">
            <button>
              <i class="fas fa-plus-square"></i>
            </button>
<!--            <p id="{{dish.id}}">0</p>-->
            <button>
              <i class="fas fa-minus-square" ></i>
            </button>
<!--          <td class="unavailable" [ngStyle]="{display: dish.limit === 0 ? 'flex' : 'none'}">UNAVAILABLE</td>-->
        </tr>

      </table>
      <div class="review-container">
        <h3>Add a review</h3>
        <button id="review-btn">
          <i class="fas fa-plus-square" ></i>
        </button>
      </div>
    </div>

  </div>
