body {
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}

.tbl {
  width: 50%;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin: 0 30% 0 30%;
}

p {
  margin: 0px;
}

h2 {
  text-align: center;
}

.amount {
  background-color: orange;
  width: 50%;

}

.changeBackground {
  background-color: blue;
}

.changeBackgroundOnLowAmount {
  background-color: coral;
}

.changeBorderOnTheLeastExpensive {
  outline: 3px solid red;
}

.changeBorderOnTheMostExpensive {
  outline: 3px solid green;
}

tr:nth-child(even) {
  background-color: #dddddd;
  border: 3px solid blue;
}

img {
  width: 100%;
  display: block;
}

.icons, .unavailable {
  padding: 15px;
}

td {
  text-align: center;
  font-size: 17px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-open {
  margin-left: 0;
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #428bca;;
  padding: 15px;
  color: #fff;
  text-align: center;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  background: #fff;
  margin: 0;
}

.modal-footer {
  background: #428bca;;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main-container {
  display: flex;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header{
  display: flex;
  background-color:  rgb(60, 150, 200);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content:space-around;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  margin-top: 150px;
}

header>div{
  display: flex;
  align-items: center;
  color:whitesmoke;
  margin: 5px;
}

.btn {
  font-size: 15px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}





