body {
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin-left: 70px;*/
}

.changeBackground {
  background-color: blue;
}

.changeBackgroundOnLowAmount {
  background-color: coral;
}

.changeBorderOnTheLeastExpensive {
  border: 3px solid red;
}

.changeBorderOnTheMostExpensive {
  border: 3px solid green;
}

.close {
  float: right;
  font-size: 30px;
  color: #fff;
}

.main-container {
  display: flex;
}

.btn {
  font-size: 15px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

.item img {
  width: 64px;
}

.item {
  margin: 0px 15px;
  text-align: center;
}

.item a:hover {
  color: blue;
}

.card {
  padding: 20px;
  margin: 50px;
  width: 300px;
  margin-left: 70px;
}

.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

h5 {
  text-align: center;
}

#add-btn {
  margin-left: 47%;
}

.pages-btn {
  width: 100%;
}

#prev-btn {
  margin-left: 40%;
}

#next-btn {
  margin-left: 10%;
}

.content {
  background-image: url("https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg?w=2000");
  height: 90vh ;
}

.content p {
  color: white;
}

.footer h2 {
  text-align: center;
}

.container {
  display: flex;
}

.phone-container {
  display: block;
  /*flex-direction: column;*/
}

.map-container {
  margin-left: 50%;
}

a {
  font-size: 20px;
}

.nav-item {
  display: flex;
}

.nav-link {
  color:white;
}








